<!doctype html>
<html ng-app="timeEntryApp">
	<head>
		<title>Time Entries</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    	<script src="js/controllers.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    	<script src="js/bootstrap.js"></script>
    	<link rel="stylesheet" href="css/bootstrap.css" />
    	<link rel="stylesheet" href="css/bootstrap-theme.css"/>
	</head>
	<body>
		<div ng-controller="EntryListController">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<h2>All Time Entries</h2>
						<hr/>
					</div>
				</div>
				<div class="row" ng-show="message">
					<div class="col-md-10">
						<div class="alert alert-info" role="alert">{{message}}</div>
					</div>
				</div>
				<div class="row" ng-show="error">
					<div class="col-md-10">
						<div class="alert alert-danger" role="alert">{{error}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>FE Name</th>
									<th>Account Name</th>
									<th>Date</th>
									<th>Hours</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<!-- Display each entry in a row -->
								<tr ng-repeat="entry in entries">
									<td>{{entry.feName}}</td>
									<td>{{entry.accountName}}</td>
									<td>{{entry.date}}</td>
									<td>{{entry.hours}}</td>
									<td>
										<a href="editEntry.html?id={{entry.timeEntryId}}" class="btn btn-primary btn-sm">Edit</a>
										<input type="button" ng-click="delete(entry.timeEntryId)" class="btn btn-danger btn-sm" value="Delete"/>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<div class="well">
							<a href="editEntry.html" class="btn btn-success">New Entry</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>