<div ng-controller="EntryListController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h3><img alt="logo" src="../images/baxter.png"> Time Tracking</h3>
<!-- 				<h3>Time Tracking</h3>  -->
<!--				<h3 style="background-color:green;">Time Tracking</h3> -->
				<hr/>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Employee</th>
							<th>Account</th>
							<th>Date</th>
							<th>Hours</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody style="background-color:lightgreen;">
						<!-- Display each entry in a row -->
						<tr ng-repeat="entry in entries">
							<td>{{entry.feName}}</td>
							<td>{{entry.accountName}}</td>
							<td>{{entry.date | date:'MM/dd/yyyy'}}</td>
							<td>{{entry.hours}}</td>
							<td>
								<a href="#/entries/{{entry.timeEntryId}}" class="btn btn-primary btn-sm">Edit</a>
								<input type="button" ng-click="delete(entry.timeEntryId)" class="btn btn-danger btn-sm" value="Delete"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="well">
					<a href="#/entries/new" class="btn btn-success">New Entry</a>
				</div>
			</div>
		</div>
	</div>
</div>
